# Build Artifacts
build/
bin/
*.exe
*.o
*.lib
*.dll
*.a

#sample apps used for test I will make it public later as I did not tested it against new version
examples/

# IDE Settings
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db

# Documentation (private planning)
ROADMAP.md
